
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');

/*Import your fonts above this line*/

/* ----------------------------------------
Base Styles
------------------------------------------- */
/** {
  box-sizing: border-box;
}*/

body {
  background-color: white;
  color: #000000;
  font-family: "oswald", sans-serif;
  margin: 0;
  padding-top: 92px;
}

nav {
  background-color: #2d2d2d;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;

}

.hamburger {
  z-index: 90;
  background-color: #2d2d2d;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}

.navigation-bar a {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
  height: 80px;
  line-height: 100px;
  padding-right: 60px;
}

.navigation-bar a:hover {
  text-decoration: underline;
}

.float-right-nav  {
  float: right;
}

.align-right {
  margin-left: 200px;
  padding-top: 40px;
}

nav img {
  max-width: 90px;
  padding-top: 10px;
  margin-left: 0px;
}

header {
  color: #ffffff;
  background-image: url('../images/4_Win_greyscale.png');
  background-size: cover;
  background-repeat: no-repeat;
  height: 770px;
  /*min-height: 70vh;*/
  text-align: center;
  padding-top: 240px;
  margin-top: -20px;
}

.header_container {
  background-color: rgba(0, 0, 0, 0.6);
  height: 275px;
}

header h2 {
  color: #FFFFFF;
  margin-top: 20px;
  font-weight: 200;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  text-transform: uppercase;
  font-size: 52px;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 20px;
  word-spacing: 20px;
  /*letter-spacing: 1px;*/

}

h2 {
  font-size: 38px;
  color: #18A75B;
  margin-top: 100px;
}

.descriptive-headers h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 45px;
}

.descriptive-headers h4 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 80px;
  font-weight: normal;
}

#descriptive-overview h2 {
  text-transform: uppercase;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}

#descriptive-overview h4 {
  text-align: center;
  margin-bottom: 0;
  margin-top: 90px;
  font-weight: normal;
}

#no-top-margin {
  margin-top: 0px;
}
#exclusive {
  text-align: center;
  margin-top: 20px;
}

h3 {
  font-size: 24px;
  text-align: center;
}
.product-overview {
  text-align: left;
  margin-top: 0;
}

#overview-image {
  padding-top: 80px;
}

h4 {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

p, li {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  line-height: 23px;
  letter-spacing: 1px;
}

ul {
  padding-left: 18px;
}

.shop-now {
  background-color: #18A75B;
  color: #FFFFFF;
  margin-left: auto;
  margin-right: auto;
}

.shop-now-button {
  text-align: center;
}

.content-wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 100px;
}

.overview {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.learn-win-flow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 60px;
  text-align: center;
}
.learn-win-closing {
  text-align: center;
  margin-top: 0;
}

.learn-win-closing h3 {
  margin-top: 0;
}
.reviews {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 125px;
  text-align: center;
}
#buy-now {
  margin-bottom: 0px;
  margin-top: 100px
}

#break-to-reviews {
  margin-top: 100px;
  margin-bottom: 0;
}

.sliver-container {
  position: relative;
  text-align: center;
  color: white;
  font-size:
}

.power-in-hands {
  position: absolute;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-family: "oswald", sans-serif;
  font-size: 38px;
  background-color: rgba(0, 0, 0, 0.5);
}

.products {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
}

#space-before-hr {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  text-align: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
}

hr {
  width: 75%;
  margin-top: 10px;
}

.pro-pack {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-gap: 50px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  margin-bottom: 50px;
}

.pro-pack-copy {
  text-align: left;
}

.pro-pack-copy h4,
.pro-pack-copy h3,
.pro-pack-copy p,
.pro-pack-copy button {
  margin-bottom: 20px;
  margin-top: 0;
  text-align: left;
}

.pro-pack-copy p:first-of-type {
  font-size: 14px;
  line-height: 20px;
  font-weight: 600;
}

.pro-pack-copy p:nth-of-type(2) {
  font-size: 10px;
  line-height: 14px;
}

.pro-pack-copy h4:first-of-type {
  color: grey;
  text-decoration: line-through;
  margin-bottom: 0px;
}

.pro-pack-copy h4:nth-of-type(2) {
  margin-top: 0px;
  position: relative;
}

.sale {
  color: #c9463e;
  position: absolute;
  margin-left: 10px;
}

.shop-now {
  transition: all .3s ease;
  background-color: #18A75B;
  border: 2px solid #18A75B;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.shop-now:hover {
  background-color: white;
  color: #18A75B;
  border: 2px solid #18A75B;
}

.add-to-cart {
  background-color: white;
  border: 2px solid #18A75B;
  color: #18A75B;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  padding: 8px 15px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  font-weight: bold;
}

.add-to-cart:hover {
  background-color: #18A75B;
  color: white;
  border: 2px solid white;
}
.img-circle {
  border-radius: 3%;
}

img {
  max-width: 100%;
}

footer {
  background-color: #2d2d2d;
  width: 100%;
  margin-top: 150px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 50px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-bottom: 0;
  padding-bottom: 50px;
  padding-top: 40px;
}

#footer_h4  {
  color: white;
  font-weight: bold;
  text-decoration: underline;
  text-transform: uppercase;
}

footer a {
  display: block;
  color: white;
  text-transform: capitalize;
  font-weight: 200;
  font-family: "open sans", sans-serif;
  font-size: 14px;
}

footer a:hover {
  text-decoration: underline;
}

/* ----------------------------------------
mult-screen styling
------------------------------------------- */
@media screen and (max-width: 1000px) {
  .learn-win-flow {
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
  }
  #win-br {
    display: none;
  }
}

@media screen and (max-width: 800px) {
  nav {
    display: none;
  }
  .hamburger {
    display: block;
    font-size: 40px;
    padding-left: 30px;
    padding-top: 30px;
    padding-bottom: 22px;
  }
  header {
    color: #ffffff;
    background-image: url('../images/small_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: -20px;
    padding-top: 100px;
    /*height: 300px;*/
    /*height: 900px;*/
    min-height: 60vh;
    /*text-align: center;
    padding-top: 240px;*/
  }

  /*header {
    padding-top: 80px;
    height: 300px;
  }*/

  .header_container {
    background-color: rgba(0, 0, 0, 0.6);
    height: 200px;
  }

  h1 {
    font-size: 40px;
    padding-bottom: 0;
  }
  header h2 {
    font-size: 25px;
    margin-top: 10px;
  }
  .learn-win-flow {
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  #win-br {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 30px;
  }
  header h2 {
    font-size: 18px;
  }
  header {
    color: #ffffff;
    background-image: url('../images/small_background.png');
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: -20px;
    /*height: 300px;*/
    /*height: 900px;*/
    max-height: 20vh;
    /*text-align: center;
    padding-top: 240px;*/
  }

  /*header {
    padding-top: 80px;
    height: 300px;*/
  }
}
